body {
 
  background: #b4b5bb; 
  font-family: "Roboto Mono" , -apple-system , BlinkMacSystemFont , "Segoe UI" , Roboto , "Helvetica Neue" , Arial , sans-serif , "Apple Color Emoji" , "Segoe UI Emoji" , "Segoe UI Symbol" , "Noto Color Emoji";
  text-align: center;
  
}
#item-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item-card{
  border: 4px solid;
  border-radius: 6%;
  padding: 1em;

}
.item-card img{
  max-width: 2in;
  max-height: 2in; 

 }

 .item-card .title, .item-card .itemPic {
  text-decoration: underline ;
  color: brown;
  cursor: pointer;
}
#header{
  border: 8px solid ;
  border-radius: 45%;
  background-color:rgb(247, 210, 140);
  font-family:Consolas,Monaco,"Andale Mono",monospace;
  color:brown; 
}
/* Credit for loayout as to how the modal elements appear on page goes to w3schools.com/howto/howto_css_modals */
#myModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(147, 58, 58, .5);
 
}

.modal-content {
  background-color: #ceb562;
  margin: 15% auto;
  padding: 20px;
  width: 80%;
}

.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, button:hover{
  cursor: pointer;
  color: blue;
}

